# Gradle files
.gradle/
build/
gradlew
gradlew.bat
local.properties
*.iml
*.iws
*.ipr
.idea/
.gradle
build/
/captures/
.externalNativeBuild
.cxx


*.iml
.idea/
.classpath
.project
.settings/
bin/
gen/
out/
.navigation/


*.jks
*.keystore
*.pem


.DS_Store
Thumbs.db
*.log


google-services.json
GoogleService-Info.plist


com_crashlytics_export_strings.xml
crashlytics.properties


/build/
/test-results/


*.orig
*.rej


*.tmp
*.temp
*.cache
*.lock


/app/src/debug/
/app/build/


.mvk/
.metals/


.vscode/